<div class="mod_h1">
<h1>Word Frequency</h1>
</div>

<div class="result_text">

<% if @result != nil %>
<p>The whole word frequency of <span class='word'>"<%= @input_word %>"</span> in <span class='word'>"<%= @input_string %>"</span> is: <span class='result'> <%= @result %> </span></p>
<% end
   if @result != nil %>

<p>The partial word frequency of <span class='word'>"<%= @input_word %>"</span> in <span class='word'>"<%= @input_string %>"</span> is: <span class='result'> <%= @result_partial %> </span></p>

<% end %>


</div>
